@charset "utf-8";

html {
    background-color: #F7F7F7;
    color: #000;
    font-family: system-ui, sans-serif;
    font-size: 18px;
}

body {
    max-width: 540px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 1em 2em;
}

h1 { font-size: 28px }
h2 { font-size: 20px }
h3 { font-size: 18px }

hr {
    border: none;
    border-top: 1px solid #bbb;
}

a {
    text-decoration: none;
    color: #325CC0;
}

u { color: #AA3731 }

pre code {
    display: block;
    white-space: pre-wrap;
    font-size: 16px;
    padding: 0.5em 0.75em;
}

code {
    background-color: #eee;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 0 0.25em;
}

blockquote {
    background-color: #F0F0F0;
    border-left: 5px solid #999;
    border-radius: 4px;
    padding: 0 1em;
    margin: 0;
}

.header,
.header ul,
.footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.header li,
.footer li {
    float: left;
    padding-right: 1em;
}

.blog-header {
    text-decoration: none;
    margin-bottom: 0;
}

.blog-timestamp { margin: 0 }

.c,.cm { color: #AA3731 }
.nf { color: #325CC0 }
.s { color: #448C27 }
.mi, .mh { color: #7A3E9D }
.se { color: #777 }

@media only all and (prefers-color-scheme: dark) {
    html { background-color: #0E1415; color: #CECECE; }
    hr { border-top: 1px solid #FFFFFF44; }
    a { color: #71ADE7 }
    u { color: #DFDF8E }
    code, blockquote { background-color: #FFFFFF10 }
    code { border-color: #333 }
    .c,.cm { color: #DFDF8E }
    .nf { color: #71ADE7 }
    .s { color: #95CB82 }
    .mi, .mh { color: #CC8BC9 }
    .se { color: #CC8BC9; background-color: #FFFFFF10 }
}
